<!DOCTYPE html>
<html>
<head>
    <title>Spell Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('charactercreation') }}">Go to character creation Page</a></li>
            <li><a href="{{ url_for('wikipage') }}">Go to wiki Page</a></li>
            <li><a href="{{ url_for('classpage') }}">Go to class Page</a></li>
        </ul>
    </nav>

    <h1>Spell List</h1>

    <table>
        <thead>
            <tr>
                {% for header in spells[0].keys() %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for spell in spells %}
            <tr>
                {% for value in spell.values() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
