<!DOCTYPE html>
<html>
<head>
    <title>Wiki Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body class="wiki">





    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('charactercreation') }}">Character Creation</a></li>
            <li><a href="{{ url_for('wikipage') }}">Wiki</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </nav>

    <h1>Wiki Page</h1>
    <p>Explore classes, spells, and items!</p>


    <a class="wiki-link" href="{{ url_for('classpage') }}">Go to Class Page</a>
    <a class="wiki-link" href="{{ url_for('spellpage') }}">Go to Spell Page</a>
    <a class="wiki-link" href="{{ url_for('itempage') }}">Go to Item Page</a>
    <a class="wiki-link" href="{{ url_for('charactercreation') }}">Go to Character Creation</a>


</body>
</html>
